{% extends 'home.html' %}

{% block title %}SIB || BankBalance{% endblock %}

{% block style %}
<style>
    body {
        background-color: #f8f9fa;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .form-container {
        max-width: 400px;
        padding: 20px;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .form-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    #deposit {
        width: 10%;
        height: 50px;
        font-size: 16px;
    }
</style>
{% endblock %}

<body>
    {% block content %}
   
    <div class="container col-6 mt-4">
        <table class="table table-bordered table-striped ">
            <label class="col-4 text-primary">Bank Balance</label>

            <tbody>
                <tr>
                    <td class="text-danger w-50">Account Number</td>
                    <td class="text-info w-50">{{account}}</td>
                </tr>
                <tr>
                    <td class="text-danger">Current Balance</td>
                    <td class="text-info">{{balance}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>